# active profile
spring:
  profiles:
    active: dev-h2
    include: oauth, jwt
---
# profile group
spring:
  profiles:
    group:
      dev-h2: "dev-h2, local-log"
      dev-mysql: "dev-mysql, local-log"
      deploy-mysql: "deploy-mysql, deploy-log"
---
# dev-h2
spring:
  config:
    activate:
      on-profile: dev-h2
  datasource:
    url: jdbc:h2:mem:airbnb;mode=MYSQL;
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        hbm2ddl:
          import_files: classpath:dml.sql
          import_files_sql_extractor: org.hibernate.tool.hbm2ddl.MultipleLinesSqlCommandExtractor
        connection:
          charSet: UTF-8
  sql:
    init:
      platform: h2
      mode: always
  h2:
    console:
      enabled: true
---
# dev-mysql
spring:
  config:
    activate:
      on-profile: dev-mysql
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/airbnb
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        connection:
          charSet: UTF-8
        hbm2ddl:
          import_files: classpath:dml.sql
          import_files_sql_extractor: org.hibernate.tool.hbm2ddl.MultipleLinesSqlCommandExtractor
  sql:
    init:
      platform: mysql
      mode: always

---
# deploy-mysql
spring:
  config:
    activate:
      on-profile: deploy-mysql
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${AIRBNB_URL}
    username: ${AIRBNB_USER}
    password: ${AIRBNB_PW}
logging:
  file:
    path: ${LOG_FILE_PATH}
auth:
  secret: ${AUTH_SECRET}
jwt:
  secret: ${JWT_SECRET}
app:
  auth:
    accessTokenExpireTime: 900000 # 15분
    refreshTokenExpireTime: 604800000 # 7일

---
# log-group
spring:
  profiles:
    group:
      local-log: "console-log, low-level-log"
      deploy-log: "file-log, high-level-log"

---
# oauth
spring:
  config:
    activate:
      on-profile: oauth
auth:
  secret: ${AUTH_SECRET}

---
# jwt
spring:
  config:
    activate:
      on-profile: jwt
jwt:
  secret: ${JWT_SECRET}
app:
  auth:
    accessTokenExpireTime: 900000 # 15분
    refreshTokenExpireTime: 604800000 # 7일
